/*
(C) Copyright by The Luke242014 Open Source Project. (R) All rights reserved.
BLOG.CSS V1
*/

name {
  display: block;
  font-weight: bold;
  font-size: 50px;
}

author {
  display: block;
}

author::before {
  content: "by ";
}

date {
  display: block;
}

date::before {
  content: "posted by ";
}

description {
  display: block;
}
