@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

/* The base */

* {
  background: #9d3982;
  box-sizing: border-box;
  font-family: 'Source Sans 3','sans-serif';
  text-decoration: none;
  color: white;
}

grey {
  color: #777;
}

ul, ul li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

hr {
  border-width: 0;
  background: white;
  height: 2px;
}

li > a {
  padding: 5 10px;
}

li {
  padding: 10px;  
}

logo {
  font-size: 50px;
}

button {
  padding: 5 10;
  background: green;
}

textarea {
  background: white;
  color: black;
}

input {
  background: white;
  padding: 5 55px;
}

input[type=submit] {
  background: blue;
}
/* details */

details {
  margin: 10px;
}

details > summary {
  border-bottom: 3px solid white;
  font-size: 30px;
}

details > summary:hover {
  border-bottom: 3px solid red;
}

/* a */

li > a {
  color: white;
}

a {
  color: #0af;
}

a:hover {
  color: #0ef;
  text-decoration: underline;
}

code {
  background: #777;
  color: black;
}
