@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
* {
  background: #9d3982;
  font-family: 'Source Sans 3','sans-serif';
  text-align: center;
  text-decoration: none;
}
