@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
* {
  background: #9d3982;
  font-family: 'Source Sans 3','sans-serif';
  text-decoration: none;
  color: white
}

grey {
  color: #777;
}

nav, nav li {
  list-style: none;
  padding: 0;
  margin: 0
}
