<!DOCTYPE HTML>

<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script>
      console.log('%cSTOP!','font-size:55;color:red;font-weight:bold;')
      console.log("This is the part of your website's developing tools.\nAnd if you go to the source code, please do not destroy it. And this violates the code guidelines.\nExactly if you don't care, please leave the website with warnings.")
    </script>
  </head>
  <body>
    <link rel='stylesheet' href='/static/style.css'>
    <ul>
      <li><a href='{{ page.root }}/index'>Home</a></li>
      <li><a href='{{ page.root }}/helpwithscripts'>Help with scripts</a></li>
      <li><a href='{{ page.root }}/more'>More</a></li>
      <li><a href='https://github.com/SecondLuke242014/secondluke242014.github.io'>GitHub</a></li>
      <li><a href='{{ page.root }}/feed'>Feed</a></li>
      <li><a href='{{ page.root }}/faq'>FAQ</a></li>
    </ul><br>
    <main>
      {{ content }}
    </main><br>
    <grey>&copy; Copyright By The Luke242014 Open Source Project, Do not Distribute!</grey>
  </body>
</html>
