<!DOCTYPE HTML>
<meta charset='UTF-8'>

<html>
  <body>
    <link rel='stylesheet' href='static/style.css'>
    <nav style='display:inline-block'>
      <p style="font-size:20px;font-family:monospaced">luaschools</p>
      <ul>
        <li><a href='{{ page.root }}'>Home</a></li>
        <li><a href='{{ page.root }}/helpwithscripts'>Help with scripts</a></li>
        <li><a href='{{ page.root }}/more'>More</a></li>
        <li><a href='github.com/SecondLuke242014/secondluke242014.github.io'></a></li>
      </ul>
    </nav>
    {{ content }}
    <grey>&copy; Copyright By SecondLuke242014, Do not Distribute!</grey>
  </body>
</html>
