<!DOCTYPE HTML>

<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  </head>
  <body>
    <link rel='stylesheet' href='/static/style.css'>
    <ul>
      <li><h2><i>CDS</i></h2></li>
      <li><a href='{{ page.root }}/index'>Home</a></li>
      <li><a href='{{ page.root }}/helpwithscripts'>Help with scripts</a></li>
      <li><a href='{{ page.root }}/more'>More</a></li>
      <li><a href='https://github.com/SecondLuke242014/secondluke242014.github.io'>GitHub</a></li>
      <li><a href='{{ page.root }}/feed'>Feed</a></li>
      <li><a href='{{ page.root }}/faq'>FAQ</a></li>
    </ul><br>
    <main>
      {{ content }}
    </main><br>
    <grey>&copy; Copyright By The Luke242014 Open Source Project, Do not Distribute!</grey>
  </body>
</html>
